// https://www.colourlovers.com/palette/44749/Valiant

$desktop: 960px

=mobile
  @media screen and (max-width: $desktop - 1px)
    @content

=desktop
  @media screen and (min-width: $desktop)
    @content

$purple: #7F4B61
$greenish: #A5AC82
$pale: #F5EBB0
$green: #ACB852
$maroon: #4C4028
$white: lighten($pale, 10)
$grey: lighten($maroon, 40)
$pale-green: lighten($green, 20)
$paler-green: lighten($green, 30)
$pale-greenish: lighten($greenish, 20)

html, body
  margin: 0
  font-family: Helvetica, Arial, sans-serif

html
  height: 100%

body, #app
  height: 100%
  color: $maroon

a
  color: $purple

h3
  font-size: 20px
  line-height: 1.25

h3, p
  margin: 0

h3:not(:last-child), p:not(:last-child)
  margin-bottom: 12px

.is-hidden-mobile
  +mobile
    display: none

.root
  min-height: 100%
  position: relative
  display: flex
  flex-direction: column

.title-bar
  flex: 0 0 48px
  background-color: $purple
  color: $white
  +desktop
    padding-left: 24px
    font-size: 24px
    line-height: 48px
  +mobile
    flex: 0 0 30px
    padding-left: 12px
    font-size: 18px
    line-height: 30px

.main-panel
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  background-color: $pale
  padding: 24px 0
  +mobile
    padding: 12px 0

.panel
  display: flex
  flex-direction: column
  text-align: center

.game
  user-select: none
  -moz-user-select: none

.button
  display: inline-block
  margin: 0 6px
  text-decoration: none
  background-color: $purple
  color: $white
  +desktop
    height: 48px
    font-size: 20px
    line-height: 48px
    width: 150px
  +mobile
    height: 32px
    font-size: 16px
    line-height: 32px
    width: 120px
  border: none
  border-radius: 4px
  box-shadow: none
  -webkit-appearance: none
  &:focus
    outline: none
  &:hover
    background-color: lighten($purple, 10)
    cursor: pointer

.language-picker
  img
    width: 100px
    height: 100px
    opacity: 0.4
    &:hover
      cursor: pointer
    &:not(:last-child)
      margin-right: 20px
    &.selected
      border-radius: 50px
      box-shadow: 0 0 10px $purple
      opacity: 1

.welcome
  text-align: center
  .title
    font-size: 72px
    line-height: 1.5

$tile-size: 40px
$mobile-tile-size: 24px
$border-size: 1px
$grid-item-padding: 3px
$grid-item-size: $tile-size + ($grid-item-padding) * 2
$letter-size: 3/4 * $tile-size
$mobile-grid-item-size: $mobile-tile-size + ($grid-item-padding) * 2
$mobile-letter-size: 3/4 * $mobile-tile-size
$mobile-small-tile-size: 9px
$mobile-small-grid-item-size: 12px
$mobile-small-letter-size: 9px

.diagram
  display: inline-grid
  padding: 8px
  grid-template-columns: repeat(5, $grid-item-size)
  grid-template-rows: repeat(5, $grid-item-size)
  +mobile
    grid-template-columns: repeat(5, $mobile-grid-item-size)
    grid-template-rows: repeat(5, $mobile-grid-item-size)
  grid-gap: $border-size
  box-sizing: border-box

.diagram-small
  +mobile
    grid-template-columns: repeat(5, $mobile-small-grid-item-size)
    grid-template-rows: repeat(5, $mobile-small-grid-item-size)

.diagram-finished
  .diagram-item
    text-stroke: 1px white
    text-shadow: 0 0 10px white
    background: $pale-green
  .tile
    cursor: default
    background: none
    border: none

.diagram-item
  cursor: default
  background: $white
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0 0 0 $border-size $maroon

.diagram-highlighted .diagram-item
  background: $paler-green

@mixin highlighted
  background: $greenish !important
  transition: background 200ms

.diagram-item-highlighted
  @include highlighted

.diagram-item-corner
  visibility: hidden

.reload
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  svg
    display: block
    width: $letter-size
    height: $letter-size
    +mobile
      width: $mobile-letter-size
      height: $mobile-letter-size
    stroke: $grey
  &:hover
    svg
      stroke: $maroon

.diagram-item-border
  font-weight: 700
  font-size: $letter-size
  text-transform: uppercase
  +mobile
    font-size: $mobile-letter-size

.diagram-small .diagram-item-border
  +mobile
    font-size: $mobile-small-letter-size

.tile
  cursor: pointer
  display: inline-block
  width: $tile-size
  height: $tile-size
  line-height: $tile-size
  font-size: $letter-size
  +mobile
    width: $mobile-tile-size
    height: $mobile-tile-size
    line-height: $mobile-tile-size
    font-size: $mobile-letter-size
  box-sizing: border-box
  background: $pale-greenish
  border: 1px solid $greenish
  border-radius: 6px
  text-align: center
  font-weight: 700
  text-transform: uppercase

.diagram-small .tile
  +mobile
    width: $mobile-small-tile-size
    height: $mobile-small-tile-size
    line-height: $mobile-small-tile-size
    font-size: $mobile-small-letter-size
    border-radius: 1px

.diagram-small .reload
  +mobile
    visibility: hidden

.tile-hidden
  transform: translateX(-9999px)

.diagrams-area
  margin-bottom: 10px
  display: flex
  flex-wrap: wrap
  justify-content: center

.diagram-current
  order: 5

.nines-area
  margin: 0 auto
  padding: 12px
  width: 9 * $tile-size + 12px
  +mobile
    width: 100%
  display: inline-block
  background: $white
  border: 1px solid black
  +mobile
    border-left: none
    border-right: none
    padding: 6px 0
  .nine
    display: flex
    align-items: center
    margin-bottom: 0
    +mobile
      width: 9 * $mobile-tile-size
      margin: 0 auto
    .tile
      margin: 0

.nines-area-highlighted
  @include highlighted

.nine
  padding: 5px 5px
  height: $tile-size + 5px
  +mobile
    padding: 2px 2px
    height: $mobile-tile-size + 2px
  margin-bottom: 10px
  text-align: left

.author
  position: absolute
  bottom: 0px
  left: 6px

.difficulty
  +mobile
    padding-bottom: 24px
  h2
    margin: 0

.dictionaries

.dictionary
  vertical-align: middle
  display: inline-block
  border: 1px solid $purple
  border-radius: 18px
  width: 80%
  +desktop
    width: 200px
    height: 200px
  padding: 18px
  margin: 18px
  +mobile
    padding: 12px
    margin: 12px
  transition: background-color 0.2s
  cursor: pointer
  &.selected, &:hover
    background-color: $purple
    color: $white
    a
      color: $white

.success
  h1
    display: block
    margin: 0
    font-size: 150px
    +mobile
      font-size: 80px
    text-shadow: 0 0 30px $maroon
    animation: tilt 2s ease infinite 0s

.buttons
  margin-top: 18px
  text-align: center
  +mobile
    .button
      display: inline-block
      &:not(:last-child)
        margin-bottom: 6px

.tile-current
  transform: scale(1.5,1.5)

@keyframes tilt
  0%   { transform: rotate(20deg); }
  25%  { transform: rotate(0); }
  50%  { transform: rotate(-20deg); }
  75%  { transform: rotate(0); }
  100% { transform: rotate(20deg); }
